<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgy.customer.dao.SysOperatorRoleDao">

    <select id="getRoleByOpIds"  resultType="com.pgy.customer.entity.resp.OperatorRoleResp" parameterType="java.util.List">
        select a.op_Id as opId,GROUP_CONCAT(b.role_name) as roleName from sys_operator_role a,sys_role b where a.role_id=b.role_id and b.role_state = 1
        and a.op_id
        <foreach collection="opIds" open="in(" close=")" item="opId" separator=",">
            #{opId}
        </foreach>
        group by a.op_id
    </select>

    <select id="getByOpId"  resultType="com.pgy.customer.entity.SysOperatorRole" parameterType="java.lang.Integer">
        select * from sys_operator_role  where op_id=#{opId}
    </select>

    <!-- 根据员工id删除所有角色 -->
    <select id="deleteByOpId"  parameterType="java.lang.Integer">
        delete from sys_operator_role  where op_id=#{opId}
    </select>

    <!-- 根据员工id批量写入角色 -->
    <select id="batchInsert" parameterType="java.util.List" resultType="java.lang.Integer">
        insert into sys_operator_role (role_id,op_id) values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{roleId},#{opId})
        </foreach>
    </select>
</mapper>
